@model MVC2.Sakila.Lab2.ViewModels.MoviesListViewModel
@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Index";
    var i = 1;
    var maxpages = 0;
    if (Model.PagingViewModel.MaxPages < 10)
    {
        maxpages = Model.PagingViewModel.MaxPages;
    }
    else if (Model.PagingViewModel.CurrentPage < 10)
    {
        maxpages = 9;
    }
    else if (Model.PagingViewModel.MaxPages > 9)
    {
        i = 10;
        maxpages = Model.PagingViewModel.MaxPages;
    }





}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Movies</h1>
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.PagingViewModel.pageSize movies each page
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Movie" asp-action="Index" asp-route-pageSize="25">25</a>
        <a class="dropdown-item" asp-controller="Movie" asp-action="Index" asp-route-pageSize="50">50</a>
        <a class="dropdown-item" asp-controller="Movie" asp-action="Index" asp-route-pageSize="100">100</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <a asp-controller="Movie" asp-action="Index" asp-route-sortcolumn="title" asp-route-sortorder="@( Model.SortOrder == "asc"  ? "desc" : "asc" )">
                    Title @if (Model.SortOrder == "desc")
                    {<i class="fa fa-sort-desc" style="font-size:36px"></i>}
                    else
                    {<i class="fa fa-sort-asc" style="font-size:36px"></i>}
                </a>
            </th>
            <th scope="col">
                <a asp-controller="Movie" asp-action="Index" asp-route-sortcolumn="date" asp-route-sortorder="@( Model.SortOrder == "asc"  ? "desc" : "asc" )">
                    Release Date @if (Model.SortOrder == "asc")
                    {<i class="fa fa-sort-desc" style="font-size:36px"></i>}
                    else
                    {<i class="fa fa-sort-asc" style="font-size:36px"></i>}
                </a>
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Items)
        {
            <tr>
                <th scope="row">@movie.title</th>
                <td>@movie.realeaseYear</td>
                <td><a asp-action="View" asp-route-id="@movie.FilmId">View</a></td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item">
            @if (Model.PagingViewModel.ShowPrevButton)
            {
                <a class="page-link" asp-controller="Movie" asp-action="Index" asp-route-sortcolumn="@Model.SortColumn" asp-route-sortorder="@Model.SortOrder" asp-route-page="@(Model.PagingViewModel.CurrentPage - 1)">Prev</a>

            }
        </li>
        @if (maxpages > 9 && Model.PagingViewModel.CurrentPage > 9)
        {
            var h = 9;
            <li class="page-item">
                <a class="page-link" asp-controller="Movie" asp-action="Index" asp-route-sortcolumn="@Model.SortColumn" asp-route-sortorder="@Model.SortOrder" asp-route-page=@h.ToString()>...</a>

            </li>
        }
        @for (; i < maxpages + 1; i++)
        {

            @if (Model.PagingViewModel.CurrentPage == i)
            {
                <li class="page-item active">
                    <a class="page-link" asp-controller="Movie" asp-action="Index" asp-route-sortcolumn="@Model.SortColumn" asp-route-sortorder="@Model.SortOrder" asp-route-page=@i.ToString()>@i <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Movie" asp-action="Index" asp-route-sortcolumn="@Model.SortColumn" asp-route-sortorder="@Model.SortOrder" asp-route-page=@i.ToString()>@i</a>
                </li>
            }




        }
        @{
            var j = maxpages + 1;
        }
        @if (j == 10)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Movie" asp-action="Index" asp-route-sortcolumn="@Model.SortColumn" asp-route-sortorder="@Model.SortOrder" asp-route-page=@j.ToString()>...</a>

            </li>
        }

        @if (Model.PagingViewModel.MaxPages > 9)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Movie" asp-action="Index" asp-route-sortcolumn="@Model.SortColumn" asp-route-sortorder="@Model.SortOrder" asp-route-page=@Model.PagingViewModel.MaxPages.ToString()>@Model.PagingViewModel.MaxPages</a>

            </li>
        }

        <li class="page-item">
            @if (Model.PagingViewModel.ShowNextButton)
            {
                <a class="page-link" asp-controller="Movie" asp-action="Index" asp-route-sortcolumn="@Model.SortColumn" asp-route-sortorder="@Model.SortOrder" asp-route-page="@(Model.PagingViewModel.CurrentPage+1)">Next</a>
            }
        </li>
    </ul>
</nav>

